<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/js/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/demo/demo.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/locale/easyui-lang-zh_CN.js}"></script>
    <title>查询充值记录</title>
</head>
<body>
<!--表格头部按钮bar-->
<div id="adbut" align="right">

    <!--    拥有管理员,食堂管理,财务管理-->
    <shiro:hasAnyRoles name="admin,keeper,finance">
    按照账号查询:&nbsp
    <input  id="selbalbykeyword"  class="easyui-textbox" name="keyword"  style="width:150px">
    按照日期查询:&nbsp
    <input  id="onlydate"  type= "text" name="onlydate" class= "easyui-datebox" required ="required"  data-options="value:'currentText'">
    <a href="#" id="selbalance" class="easyui-linkbutton" data-options="size:'large'" >查看充值记录</a>
        </shiro:hasAnyRoles>
</div>
<table  id="tab" class="easyui-datagrid"
       data-options="pagination:true,url:'selbalan',fitColumns:true,singleSelect:true,title:'查询充值记录',fit:true">
    <thead>
    <tr>
        <th data-options="field:'id',width:50">ID</th>
        <th data-options="field:'upuser',width:60">充值账号</th>
        <th data-options="field:'oldbalance',width:60">充值前余额(元)</th>
        <th data-options="field:'charge',width:60">充值金额(元)</th>
        <th data-options="field:'newbalance',width:60">充值后余额(元)</th>
        <th data-options="field:'currentuser',width:60">操作账号</th>
        <th data-options="field:'time',width:100,sortable:true">充值时间</th>
    </tr>
    </thead>
</table>

</body>
<script>
//给表格添加bar
    $("#tab").datagrid({
        toolbar:"#adbut",
    })
//给查询记录按钮添加事件
    $("#selbalance").linkbutton({
        onClick:function () {

            $("#tab").datagrid({

                queryParams:{"onlydate":$("#onlydate").val(),"keyword":$("#selbalbykeyword").val()}
            })

        }
    })
</script>
</html>