<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/js/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/demo/demo.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/locale/easyui-lang-zh_CN.js}"></script>
    <title>微信充值</title>
</head>
<body>

<div align="center">
    <span style="font-size: 20px ; color: red" >*微信账号为:s781815</span><br>
    <span style="font-size: 20px ; color: red">*请认真核对</span>
    <br>
    <span>
            <img th:src="@{weixin/weixin.jpg}" style="width: 300px; height: 300px">
    </span>
</div>
</body>
</html>